/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }

.cancelbtn {
    width: auto;
    padding: 6px 10px;
    background-color: #f44336;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    float: center;
}

.newAccount {
    width: auto;
    padding: 12px 20px;
    background-color: #ff9900;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    float: center;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.center {
    text-align: center;
    width: 100%;
    margin-top: 6px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
